*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-column: 1fr;
    grid-template-areas: "nav-bar"
    "container"
    "footer"
    ;
    grid-template-rows: 1fr 10fr 4fr;

}

@import "./components/nav-about";
@import "./components/main-about";
@import "./components/footer-about";