.knowleged{
    padding: 0px 30px;
    @include center-direction-column;
    gap: 30px;
    .icon{
        @include center;
        justify-content: space-between; 
        .knowlgeded-icon{   
            gap: 30px;  
            @include center-direction-column;
            width: 30%;   
            text-align: center;
            .knowlgeded-icon-img{
                @include center;
                background-color: #F9F4F1;
                border-radius: 100%;
                height: 150px;
                width: 150px;

                img{
                    width: 100px;
                    // border-radius: 100%;
                }
            }
        }
    }
}