@mixin align-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin center-direction-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}